# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Download the dataset from this [address](http://archive.ics.uci.edu/ml/datasets/STUDENT+ALCOHOL+CONSUMPTION).

### Step 3. Assign it to a variable called df.

In [5]:
df = pd.read_csv('student/student-por.csv', sep=';')
df.head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,0,11,13,13

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [9]:
df.loc[:, 'school': 'guardian'].head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

### Step 5. Create a lambda function that captalize strings.

In [25]:
capitalize = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [26]:
df['Mjob'].apply(capitalize)

0       At_home
1       At_home
2       At_home
3        Health
4         Other
5      Services
6         Other
7         Other
8      Services
9         Other
10      Teacher
11     Services
12       Health
13      Teacher
14        Other
15       Health
16     Services
17        Other
18     Services
19       Health
20      Teacher
21       Health
22      Teacher
23        Other
24     Services
25     Services
26        Other
27       Health
28     Services
29      Teacher
         ...
619    Services
620     At_home
621       Other
622     At_home
623     Teacher
624       Other
625     At_home
626       Other
627     At_home
628       Other
629       Other
630       Other
631       Other
632     At_home
633     Teacher
634       Other
635     At_home
636     Teacher
637       Other
638       Other
639       Other
640       Other
641     At_home
642     Teacher
643     Teacher
644    Services
645     Teacher
646       Other
647    Services
648    Services
Name: Mjob, dtype: object

### Step 7. Print the last elements of the data set.

In [27]:
df.iloc[-1]

school              MS
sex                  M
age                 18
address              R
famsize            LE3
Pstatus              T
Medu                 3
Fedu                 2
Mjob          services
Fjob             other
reason          course
guardian        mother
traveltime           3
studytime            1
failures             0
schoolsup           no
famsup              no
paid                no
activities          no
nursery             no
higher             yes
internet           yes
romantic            no
famrel               4
freetime             4
goout                1
Dalc                 3
Walc                 4
health               5
absences             4
G1                  10
G2                  11
G3                  11
Name: 648, dtype: object

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [33]:
df['Mjob'] = df['Mjob'].apply(capitalize)
df['Fjob'] = df['Fjob'].apply(capitalize)

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [34]:
majority = lambda x: x > 18

In [40]:
legal_drinker = df['age'].apply(majority)
df['legal_drinker'] = legal_drinker
df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,...,3,4,1,1,3,4,0,11,11,False
1,GP,F,17,U,GT3,T,1,1,At_home,Other,...,3,3,1,1,3,2,9,11,11,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,...,3,2,2,3,3,6,12,13,12,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,...,2,2,1,1,5,0,14,14,14,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,...,3,2,1,2,5,0,11,13,13,False
5,GP,M,16,U,LE3,T,4,3,Services,Other,...,4,2,1,2,5,6,12,12,13,False
6,GP,M,16,U,LE3,T,2,2,Other,Other,...,4,4,1,1,3,0,13,12,13,False
7,GP,F,17,U,GT3,A,4,4,Other,Teacher,...,1,4,1,1,1,2,10,13,13,False
8,GP,M,15,U,LE3,A,3,2,Services,Other,...,2,2,1,1,1,0,15,16,17,False
9,GP,M,15,U,GT3,T,3,4,Other,Other,...,5,1,1,1,5,0,12,12,13,False
10,GP,F,15,U,GT3,T,4,4,Teacher,Health,...,3,3,1,2,2,2,14,14,14,False
11,GP,F,15,U,GT3,T,2,1,Services,Other,...,2,2,1,1,4,0,10,12,13,False
12,GP,M,15,U,LE3,T,4,4,Health,Services,...,3,3,1,3,5,0,12,13,12,False
13,GP,M,15,U,GT3,T,4,3,Teacher,Other,...,4,3,1,2,3,0,12,12,13,False
14,GP,M,15,U,GT3,A,2,2,Other,Other,...,5,2,1,1,3,0,14,14,15,False
15,GP,F,16,U,GT3,T,4,4,Health,Other,...,4,4,1,2,2,6,17,17,17,False
16,GP,F,16,U,GT3,T,4,4,Services,Services,...,2,3,1,2,2,10,13,13,14,False
17,GP,F,16,U,GT3,T,3,3,Other,Other,...,3,2,1,1,4,2,13,14,14,False
18,GP,M,17,U,GT3,T,3,2,Services,Services,...,5,5,2,4,5,2,8,8,7,False
19,GP,M,16,U,LE3,T,4,3,Health,Other,...,1,3,1,3,5,6,12,12,12,False
20,GP,M,15,U,GT3,T,4,3,Teacher,Other,...,4,1,1,1,1,0,12,13,14,False
21,GP,M,15,U,GT3,T,4,4,Health,Health,...,4,2,1,1,5,0,11,12,12,False
22,GP,M,16,U,LE3,T,4,2,Teacher,Other,...,5,1,1,3,5,0,12,13,14,False
23,GP,M,16,U,LE3,T,2,2,Other,Other,...,4,4,2,4,5,2,10,10,10,False
24,GP,F,15,R,GT3,T,2,4,Services,Health,...,3,2,1,1,5,2,10,11,10,False
25,GP,F,16,U,GT3,T,2,2,Services,Services,...,2,2,1,3,5,6,10,11,12,False
26,GP,M,15,U,GT3,T,2,2,Other,Other,...,2,2,1,2,5,8,11,12,12,False
27,GP,M,15,U,GT3,T,4,2,Health,Services,...,2,4,2,4,1,0,11,11,11,False
28,GP,M,16,U,LE3,A,3,4,Services,Other,...,3,3,1,1,5,2,12,12,13,False
29,GP,M,16,U,GT3,T,4,4,Teacher,Teacher,...,4,5,5,5,5,4,12,11,12,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,MS,F,18,U,GT3,T,3,3,Services,Services,...,3,2,1,3,3,6,13,12,13,False
620,MS,F,17,U,LE3,T,4,4,At_home,At_home,...,3,4,1,1,1,4,15,14,15,False
621,MS,F,17,R,GT3,T,1,2,Other,Services,...,2,2,1,2,3,0,13,13,13,False
622,MS,M,18,R,GT3,T,1,3,At_home,Other,...,3,4,2,4,3,0,8,10,9,False
623,MS,M,18,U,LE3,T,4,4,Teacher,Services,...,2,2,2,2,5,0,15,16,16,False
624,MS,F,17,R,GT3,T,1,1,Other,Services,...,2,1,1,2,1,0,8,8,9,False
625,MS,F,18,U,GT3,T,2,3,At_home,Services,...,2,3,1,2,4,0,10,10,10,False
626,MS,F,18,R,GT3,T,4,4,Other,Teacher,...,2,2,4,2,5,0,7,5,0,False
627,MS,M,18,R,LE3,T,1,2,At_home,Services,...,3,3,2,3,3,3,9,10,10,False
628,MS,F,17,U,GT3,T,2,2,Other,At_home,...,4,3,1,1,3,8,10,11,12,False
629,MS,F,17,R,GT3,T,1,2,Other,Other,...,5,5,1,3,1,4,7,8,9,False
630,MS,F,18,R,LE3,T,4,4,Other,Other,...,4,4,1,1,1,0,15,17,17,False
631,MS,F,18,R,GT3,T,1,1,Other,Other,...,3,2,1,2,4,4,10,11,12,False
632,MS,F,19,R,GT3,T,1,1,At_home,Other,...,3,3,1,1,3,4,7,8,9,True
633,MS,F,18,R,LE3,T,4,4,Teacher,Services,...,4,3,3,4,2,1,13,14,14,False
634,MS,F,18,U,GT3,T,3,3,Other,Other,...,1,3,1,2,1,1,16,16,16,False
635,MS,F,17,R,GT3,T,3,1,At_home,Other,...,5,4,2,3,1,10,8,9,9,False
636,MS,M,18,U,GT3,T,4,4,Teacher,Teacher,...,2,4,1,4,2,4,17,18,19,False
637,MS,M,18,R,GT3,T,2,1,Other,Other,...,4,3,1,3,5,0,7,7,0,False
638,MS,M,17,U,GT3,T,2,3,Other,Services,...,4,3,1,1,3,4,14,15,16,False
639,MS,M,19,R,GT3,T,1,1,Other,Services,...,3,2,1,3,5,0,5,8,0,True
640,MS,M,18,R,GT3,T,4,2,Other,Other,...,4,3,4,3,3,0,7,7,0,False
641,MS,F,18,R,GT3,T,2,2,At_home,Other,...,3,3,1,3,4,0,14,17,15,False
642,MS,F,17,U,GT3,T,4,3,Teacher,Other,...,5,4,1,1,1,0,6,9,11,False
643,MS,F,18,R,GT3,T,4,4,Teacher,At_home,...,4,3,2,2,5,4,7,9,10,False
644,MS,F,19,R,GT3,T,2,3,Services,Other,...,4,2,1,2,5,4,10,11,10,True
645,MS,F,18,U,LE3,T,3,1,Teacher,Services,...,3,4,1,1,1,4,15,15,16,False
646,MS,F,18,U,GT3,T,1,1,Other,Other,...,1,1,1,1,5,6,11,12,9,False
647,MS,M,17,U,LE3,T,3,1,Services,Services,...,4,5,3,4,2,6,10,10,10,False
648,MS,M,18,R,LE3,T,3,2,Services,Other,...,4,1,3,4,5,4,10,11,11,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [53]:
import numpy as np
times10 = lambda x: x * 10 if type(x) == int else x

In [54]:
df.applymap(times10).head(5)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,...,30,40,10,10,30,40,0,110,110,False
1,GP,F,170,U,GT3,T,10,10,At_home,Other,...,30,30,10,10,30,20,90,110,110,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,...,30,20,20,30,30,60,120,130,120,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,...,20,20,10,10,50,0,140,140,140,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,...,30,20,10,20,50,0,110,130,130,False