# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a to a variable called cars1 and cars2

In [29]:
cars1 = pd.read_csv('cars1.csv')
cars2 = pd.read_csv('cars2.csv')

### Step 4. Ops it seems our first dataset has some unnamed blank columns, fix cars1

In [49]:
cars1 = cars1.dropna(axis=1, how='all')
cars1.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [50]:
print(cars2.shape)
print(cars1.shape)

(200, 9)
(198, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [51]:
cars = pd.concat([cars1, cars2])
cars.shape

(398, 9)

### Step 7. Ops there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [52]:
import numpy as np
owners = np.random.randint(15000, 73000, car.shape[0])

### Step 8. Add the column owners to cars

In [53]:
cars['owners'] = owners

In [54]:
cars.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu,38574
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320,51842
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite,42542
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst,24328
4,17.0,8,302,140,3449,10.5,70,1,ford torino,61866

In [59]:
cars.set_index('car').sort_values(by='mpg', ascending=False)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,owners
car,,,,,,,,,
mazda glc,46.6,4,86,65,2110,17.9,80,3,69021
honda civic 1500 gl,44.6,4,91,67,1850,13.8,80,3,26571
vw rabbit c (diesel),44.3,4,90,48,2085,21.7,80,2,28481
vw pickup,44.0,4,97,52,2130,24.6,82,2,30536
vw dasher (diesel),43.4,4,90,48,2335,23.7,80,2,47372
volkswagen rabbit custom diesel,43.1,4,90,48,1985,21.5,78,2,46176
vw rabbit,41.5,4,98,76,2144,14.7,80,2,19777
renault lecar deluxe,40.9,4,85,?,1835,17.3,80,2,30293
datsun 210,40.8,4,85,65,2110,19.2,80,3,38129
datsun b210 gx,39.4,4,85,70,2070,18.6,78,3,39975
toyota starlet,39.1,4,79,58,1755,16.9,81,3,15655
plymouth champ,39.0,4,86,64,1875,16.4,81,1,28267
toyota corolla tercel,38.1,4,89,60,1968,18.8,80,3,60137
oldsmobile cutlass ciera (diesel),38.0,6,262,85,3015,17.0,82,1,56785
datsun 310 gx,38.0,4,91,67,1995,16.2,82,3,72841
honda civic,38.0,4,91,67,1965,15.0,82,3,57969
plymouth horizon miser,38.0,4,105,63,2125,14.7,82,1,34735
toyota tercel,37.7,4,89,62,2050,17.3,81,3,57893
fiat strada custom,37.3,4,91,69,2130,14.7,79,2,24125
datsun 310,37.2,4,86,65,2019,16.4,80,3,23569
datsun 510 hatchback,37.0,4,119,92,2434,15.0,80,3,30848
datsun 210 mpg,37.0,4,85,65,1975,19.4,81,3,52223
mazda glc custom l,37.0,4,91,68,2025,18.2,82,3,54625
audi 5000s (diesel),36.4,5,121,67,2950,19.9,80,2,54694
ford fiesta,36.1,4,98,66,1800,14.4,78,1,53125
honda civic cvcc,36.1,4,91,60,1800,16.4,78,3,60873
mercury lynx l,36.0,4,98,70,2125,17.3,82,1,18955
dodge charger 2.2,36.0,4,135,84,2370,13.0,82,1,37098
renault 5 gtl,36.0,4,79,58,1825,18.6,77,2,67357
volkswagen rabbit l,36.0,4,105,74,1980,15.3,82,2,44289
...,...,...,...,...,...,...,...,...,...
buick century luxus (sw),13.0,8,350,150,4699,14.5,74,1,22430
amc ambassador brougham,13.0,8,360,175,3821,11.0,73,1,60481
chrysler new yorker brougham,13.0,8,440,215,4735,11.0,73,1,31579
ford ltd,13.0,8,351,158,4363,13.0,73,1,18304
chevrolet caprice classic,13.0,8,400,150,4464,12.0,73,1,45676
buick lesabre custom,13.0,8,350,155,4502,13.5,72,1,67462
chrysler newport royal,13.0,8,400,190,4422,12.5,72,1,53455
chevrolet impala,13.0,8,350,165,4274,12.0,72,1,55454
chevy c10,13.0,8,350,145,4055,12.0,76,1,43031
ford country squire (sw),13.0,8,400,170,4746,12.0,71,1,24136
pontiac safari (sw),13.0,8,400,175,5140,12.0,71,1,70526
ford gran torino (sw),13.0,8,302,140,4294,16.0,72,1,26350
chevrolet chevelle concours (sw),13.0,8,307,130,4098,14.0,72,1,35302
buick century 350,13.0,8,350,175,4100,13.0,73,1,37611
ford mustang ii,13.0,8,302,129,3169,12.0,75,1,55573
dodge d100,13.0,8,318,150,3755,14.0,76,1,21454
ford f108,13.0,8,302,130,3870,15.0,76,1,36552
oldsmobile vista cruiser,12.0,8,350,180,4499,12.5,73,1,18300
oldsmobile delta 88 royale,12.0,8,350,160,4456,13.5,72,1,42463
ford country,12.0,8,400,167,4906,12.5,73,1,59873
mercury marquis brougham,12.0,8,429,198,4952,11.5,73,1,28373
dodge monaco (sw),12.0,8,383,180,4955,11.5,71,1,43884
buick electra 225 custom,12.0,8,455,225,4951,11.0,73,1,66956
oldsmobile omega,11.0,8,350,180,3664,11.0,73,1,20853
dodge d200,11.0,8,318,210,4382,13.5,70,1,38480
chevrolet impala,11.0,8,400,150,4997,14.0,73,1,65945
mercury marquis,11.0,8,429,208,4633,11.0,72,1,55260
ford f250,10.0,8,360,215,4615,14.0,70,1,20488
chevy c20,10.0,8,307,200,4376,15.0,70,1,67508
hi 1200d,9.0,8,304,193,4732,18.5,70,1,60348