# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')

### Step 4. How many products cost more than $10.00?

In [29]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x.strip('$')))
chipo[chipo.item_price > 10.00].head(5)

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",10.98

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [38]:
no_dup_chipo = chipo.drop_duplicates(['item_name', 'quantity'])[chipo.quantity == 1]
no_dup_chipo[['item_name', 'item_price']].sort_values(by='item_price', ascending=False).head(5)

/Users/youwangqiu/.pyenv/versions/3.5.2/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

                  item_name  item_price
606        Steak Salad Bowl       11.89
1229    Barbacoa Salad Bowl       11.89
1132    Carnitas Salad Bowl       11.89
7             Steak Burrito       11.75
168   Barbacoa Crispy Tacos       11.75

### Step 6. Sort by the name of the item

In [37]:
chipo.sort_values(by='item_name').head(5)

      order_id  quantity          item_name choice_description  item_price
3389      1360         2  6 Pack Soft Drink        [Diet Coke]       12.98
341        148         1  6 Pack Soft Drink        [Diet Coke]        6.49
1849       749         1  6 Pack Soft Drink             [Coke]        6.49
1860       754         1  6 Pack Soft Drink        [Diet Coke]        6.49
2713      1076         1  6 Pack Soft Drink             [Coke]        6.49

### Step 7. What was the quantity of the most expensive item ordered?

In [49]:
chipo[chipo.item_name == 'Steak Salad Bowl']['quantity'].sum()

31

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [45]:
len(chipo[chipo.item_name == 'Veggie Salad Bowl'])

18

### Step 9. How many times people orderd more than one Canned Soda?

In [53]:
len(chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)])

20